* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Acme', sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.navbar {
    display: flex;
    flex-direction: row;
    background-color: #910018;
    min-height: 50px;
    max-height: 50px;
    box-shadow: 0 1px 2px 0 #333;
}

.main-container {
    display: flex;
    position: fixed;
    top: 50px;
    width: 100%;
    height: calc(100% - 50px);
    flex-direction: row-reverse;
}

.wrapper .sidebar {
    display: table-cell;
    background-color: #910018;
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
    box-shadow: 0 1px 2px 0 #333;
}

.wrapper .sidebar .profile {
    margin-bottom: 30px;
    text-align: center;
}

.wrapper .sidebar .profile h3 {
    color: #ffffff;
    margin: 10px 0 5px;
}

.wrapper .sidebar .profile p {
    color: rgb(206, 240, 253);
    font-size: 14px;
}


.wrapper .sidebar ul li a {
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid #7c0015;
    color: rgb(241, 237, 237);
    font-size: 16px;
    position: relative;
}

.wrapper .sidebar ul li a .icon {
    color: #dee4ec;
    width: 30px;
    display: inline-block;
}


.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active {
    color: #910018;

    background: white;
    border-right: 2px solid #7c0015;
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon {
    color: #910018;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before {
    display: block;
}

.site-body {
    display: table-cell;
    width: 85%;
    max-height: 100%;
    vertical-align: top;
    padding: 10px 0 0 10px;
    overflow: auto;
}

/*---FEED----*/

.movie-body {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 10px;
    padding: 10px;
    background-color: #f9ff80;
    border-radius: 10px;
}

.movie-body img {
    margin: 5px;
    border: 5px solid #910018;
    border-radius: 5px;
}

.movie-body a {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    right: 10px;
    margin: 5px;
    padding: 10px;
    max-height: 60px;
    color: #ffffff;
    background-color: #910018;
    border: 1px solid #7c0015;
    border-radius: 5px;
    justify-content: center;
}

.movie-body a:hover, .add-button {
    color: #ffffff;

    background: #7c0015;
    box-shadow: 0 2px 3px 1px #666;
}

.desc-upper-div {
    display: flex;
    flex-direction: row;
}

.desc-upper-div img {
    max-width: 300px;
    padding: 10px;
}

/*---ADMIN---*/

table, th, tr, td {
    border: 2px solid #910018;
    font-size: 24px;
}

.admin-table th {
    border-bottom: 1px solid #7c0015;
    background-color: #7c0015;
    color: #ffffff;
}

.admin-table a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 100px;
    min-height: 40px;
    border-bottom: 1px solid #7c0015;
    background-color: #7c0015;
    color: #ffffff;
    font-size: 16px;
    align-items: center;
}

.title-column {
    padding: 0 5px 0 5px;
}

.genre-column {
    min-width: 200px;
}

/*---ADD-PAGE*/

.AddForm {
    padding: 10px;
}

.AddForm input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    min-height: 30px;
    min-width: 200px;
    max-width: 200px;
}

.AddForm textarea {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 200px;
    min-width: 500px;
}

.Pagination {
    display: flex;
}

.Pagination a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100px;
    height: 40px;
    border-bottom: 1px solid #7c0015;
    background-color: #7c0015;
    color: #ffffff;
    font-size: 16px;
    align-items: center;
    padding: 10px;
    margin: 10px;
}