.form-signin{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin > input{
    font-family: 'Acme', sans-serif;
    padding: 5px;
    margin: 5px;
    font-size: 24px;
    min-height: 50px;
    border-color: #FFF;
    border-radius: 5px;
}
.text{
    font-family: 'Acme', sans-serif;
    padding: 5px;
    margin: 5px;
    font-size: 24px;
    min-height: 50px;
    border-color: #FFF;
    border-radius: 5px;
}